<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Home {% endblock %}</title>
    <link
      href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans bg-slate-100 text-gray-800">
    <header class="bg-blue-500 p-2 text-white text-center">
      <div class="flex flex-row items-center justify-center">
        <h4 class="flex px-4">Phone:+41873900322</h4>
        <div class="h-4 border-l border-gray-300"></div>
        <h4 class="flex px-4">Email: medic@health.gmail.com</h4>
        <div class="h-4 border-l border-gray-300"></div>
      </div>
    </header>
    <div class="w-full">
      {% block navbar %}

      <div class="bg-gray-800 w-full">
        <div
          class="container mx-auto flex w-full flex-row items-center justify-between"
        >
          <h3 class="text-4xl text-italic font-bold text-blue-500 px-5">
            MEDIC
          </h3>
          <nav class="flex w-[50%] items-center justify-between py-8">
            <a href="#" class="text-white hover:underline">Home</a>
            <a href="#" class="text-white hover:underline">About</a>
            <a href="#" class="text-white hover:underline">Services</a>
            <a href="#" class="text-white hover:underline">Contact us</a>
            <a href="#" class="text-white hover:underline">Blogs</a>
          </nav>
          <button
            class="bg-white text-gray-800 border border-gray-300 rounded-md px-5 flex items-center hover:bg-gray-100 focus:outline-none focus:ring focus:border-blue-300"
          >
            <img
              {#
              src="{{url_for('static', filename='images/goggle-icon.jpg')}}"
              #}
              alt="Google Icon"
              class="mr-2"
              width="20"
              height="20"
            />
            Login with Google
          </button>
        </div>
      </div>

      {% endblock %}

      <main class="container mx-auto p-8 h-screen">
        {% block content %}
        <div class="w-full flex flex">
          <div class="flex flex-col w-[60%] p-2">
            <p class="font-bold uppercase mt-32 text-lg">
              ____Welcome to MEDIC
            </p>
            <h1 class="font-bold uppercase mt-20 text-4xl text-black">
              BETTER CARE FOR YOUR GENERAL
            </h1>
            <h1 class="font-bold uppercase mt-4 text-4xl text-blue-500">
              HEALTH
            </h1>
            <p class="font-bold italic uppercase mt-28">
              Embracing good health isn't just a choice;<br />
              It's an investment in a vibrant and fulfilling life, where
              well-being becomes the cornerstone of every joy and accomplishment
              <span class="text-blue-500">~ Dr. Mann</span>
            </p>
            <div class="flex items-center mt-28">
              <input
                type="email"
                id="emailInput"
                name="email"
                placeholder="Enter your email to stay up-to date with your health"
                class="border w-96 border-gray-300 py-4 rounded-l-md focus:outline-none focus:ring focus:border-blue-300"
              />
              <button
                type="button"
                class="bg-blue-500 uppercase text-white px-4 py-4 rounded-r-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
                onclick="collectEmail()"
              >
                Join our Newsletter
              </button>
            </div>
          </div>
          <div class="flex flex-col w-[40%] p-2">
            <img
              class="mix-blend-multiply"
              src="{{url_for('static', filename='images/doctor-background.jpg')}}"
            />
          </div>
        </div>

        {% endblock %}
      </main>
    </div>
    <footer class="bg-gray-800 p-4 text-white text-center">
      <p>&copy; 2023 Medic by Mann All rights reserved.</p>
    </footer>
  </body>
</html>
